.layout{
    background-color: #98a4da;
    display: grid;
    grid-template-areas: 'h h'
    'n m';
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    padding: 15px;
    gap: 10px;
    min-height: 100vh;
}
.header{
    grid-area: h;
}
.nav{
    grid-area: n;
}
.main{
    grid-area: m;
}